@import url(highlight.css);

html {
    font-size: 16px;
    color: #3f3f3f;
}

body {
    max-width: 750px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 10%;
}

p {
    text-align: start;
    text-indent: 2em;
    line-height: 1.75em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

em {
    font-style: italic;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}


@media screen {
    #write {
    }
}

/*PDF 输出时覆盖样式*/
@media print {
    #write {
        padding: 0;
        font-family: "Noto Serif CJK SC", "Noto Serif CJK", "Source Han Serif SC",
        "Source Han Serif", source-han-serif-sc, serif;
    }

    .footnote-line a {
        display: none;
    }

    html {
        font-size: 16px;
    }

    sup.md-footnote {
        background-color: rgba(255, 255, 255, 0);
    }

    sup.md-footnote > a::before {
        padding: 0;
    }
}

@page {
    margin: 10% 10%;
}


.abstract {
    padding: 1em;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    background: #f7f7f7;
    margin: 2em 8px;
}

ul,
ol {
    padding-inline-start: 1em;
}

strong {
    color: rgba(15, 76, 129, 1);
}

/*引言*/
blockquote {
    margin: 0.8em 0;
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: grey;
}

/* 标题属性 */
h1, h2 {
    text-align: center;
    display: table;
    line-height: 2rem;
    padding: 0 1rem;
}

h1 {
    font-size: 1.5rem;
    border-bottom: 2px solid rgba(15, 76, 129, 1);
    margin: 4rem auto 1rem auto;
}

h2 {
    font-size: 1.25rem;
    background: rgba(15, 76, 129, 1);
    color: #fff;
    margin: 2rem auto;
}

h3 {
    font-size: 1.1rem;
    padding-left: 0.5rem;
    border-left: 3px solid rgba(15, 76, 129, 1);
}

h4 {
    font-size: 1.1rem;
    color: rgba(15, 76, 129, 1);
}

h1,
h2,
h3,
h4,
h5 {
    break-after: avoid;
    break-inside: avoid;
}

code {
    font-size: 90%;
    color: #d14;
    background: rgba(27, 31, 35, .05);
    padding: 3px 5px;
    border-radius: 4px;
}

.highlight code {
    font-size: inherit;
    color: inherit;
    background: inherit;
    padding: inherit;
    border-radius: inherit;
}

table {
    padding: 0;
    word-break: initial;
}

table tr {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}

table th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
}

table th:first-child,
table td:first-child {
    margin-top: 0;
}

table th:last-child,
table td:last-child {
    margin-bottom: 0;
}

img {
    margin: 0.5rem auto 0;
    max-width: 75%;
    display: block;
    break-before: avoid;
    break-inside: avoid;
}

.img-alt {
    text-align: center;
    font-size: 0.85rem;
    color: dimgrey;
}

.footnotes {
    margin-top: 5rem;
}

/* 代码块样式 */
code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
